body{

}

section.sectionone{
	min-height: 400px;
	background-image: url("../ip2/assets/backgrounds/landing.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}
section.sectiontwo{
	min-height: 200px;

}
div#breakfast{
	
	background-image: url("../ip2/assets/foodtop/breakfast.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}
div#lunch{
	
	background-image: url("../ip2/assets/foodtop/lunch.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}
div#dinner{
	
	background-image: url("../ip2/assets/foodtop/dinner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}
div#rowone{
	
	background-image: url("../ip2/assets/fastFood1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 150px;

}
div#rowtwo{
	
	background-image: url("../ip2/assets/fastFood2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 150px;

}
div.box{
	 min-height: 75%;
    width: 60%;
    padding: 36px;
    margin: 20px auto;
    border: solid 3px #eff1f1;
    border-radius: 10px;
    float: right;
}

div#fastfoods{
	margin: 50px auto;
	margin-left: 0px;
	 color:grey ; 
	 width:70%;
}
button#viewgallery{
	    padding: 9px;
    background-color: white;
    border: 1px solid #e67440;
    color: #e67440;
    width: 50%;
    font-weight: bolder;
    border-radius: 3px;
}
div#firstcolumn2{
	background-image: url("../ip2/assets/drink1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 50%;
	height: 280px;
}
div#secondcolumn3{
	background-image: url("../ip2/assets/drink2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 50%;
	height:280px;

}
section.sectionfive{
	height: 400px;
	background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
div#drinks{
	margin: 50px auto;
	margin-left: 0px;
	 color:grey ;
	  width:70%;
	  float:right;
	  text-align:right;
}
section.sectionsix{
	padding:70px;
}
ul#customers{
	list-style: none;
}
ul#customers li{
	width: fit-content;
	display: inline;
}


section.sectionseven{
	min-height: 300px;
	background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	text-align: center;
	padding-top: 5%;

}
div.subsectionone{
    padding-bottom: 20px;
    font-size: 20px;
}

input#email{
	    width: 20%;
    
    margin: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(234, 225, 225, 0.51);
    border: 0px;
    color: #fff;
    cursor: pointer;
}
input#email::-webkit-input-placeholder{
	color: #fff;
}
input#email::-moz-placeholder{
	color: #fff;
}
input#email:-ms-input-placeholder{
	color: #fff;
}
input#email:-moz-placeholder{
	color: #fff;
}

button#subscribe{
	    margin: 15px;
    padding: 5px;
    width: 15%;
    background-color: #f55636;
    border: none;
    color: #fff;
}

section.sectioneigth{
	min-height: 350px;
 background-color: #f45430;
     color: #fff;
    padding-top: 5%;
    text-align: center;
}
img#menu{
	margin-top: -15px;
}
strong#menu{
	font-size: 35px;
    margin-left: 10px;
    font-family: serif;
    font-weight: 100;
}
/*span#facebook{
	background-image:url("../ip2/assets/footerlogos/facebook.png");
		background-size: cover;
	background-repeat: no-repeat;
	width: 39px;
	height: 39px;
}*/
/*for small devices*/
/*for responsiveness: fit well on mobile phones*/

@media (max-width: 425px){
	div#firstcolumn{
		width: 100%;
	}
	div.box{
		height: 280px;
		float: none;
		padding: 0px;
		width: inherit;
		padding-top: 10px;
	}
	div#fastfoods{
		text-align: center;
		padding: 20px;
		width: 100%;
		margin: 20px;
	}
	button#viewgallery{
		width: 70%;
	}
	div#drinks{
		float: none;
		text-align: center;
		margin: 20px;
		padding: 20px;
		width: 100%;
	}
	section.sectionsix{
		padding: 10px;
		margin: 0px auto;
		width: 90%;
	}

	ul#customers{
		padding: 0px;
		margin-top: 15px;
		margin-bottom: 15px;

	}
	div.subsectiontwo{
		display: grid;
	}
	input#email{
		width: inherit;
	}
	button#subscribe{
		width: inherit;
	}
	section.sectionseven{
		padding-top: 15%;
	}
div#firstcolumn2{
	height: 240px;
}
div#secondcolumn3{
	height:240px;

}

}